/* #about1 {

    display: grid;
    grid-template-columns: 50% 50%;
    padding: 120px 120px 160px 120px;
    height: 80vh;
 
}

#left-about-1 {
    margin: 70px 50px 50px 30px;
}
#left-about-1 h1 {
    text-align: left;
    font-size: 5rem;
}
#left-about-1 h2 {
    text-align: left;
    font-size: 1.2rem;
}
#left-about-1 button {
    left: 0;
    margin: 10px 10px 10px 0px;
    padding: 10px;
    background: none;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
}

#right-about-1 img {
    width: 90%;
    height: 90%;
    margin: auto;
} */