/* #introduction-1 {
    display: grid;
    grid-template-columns:  50% 50%;
    padding: 40px;
    margin-top: 100px;
 
}

#left-introduction-1 img {
    margin: auto;
    width: 80%;
    height: 80%;
} */